.contactForm {
  padding: 40px;
  background: #fdfdfd60;
  transition: background 0.3s ease;
  border-radius: 3px;
}

.contactForm:hover {
  background: #f9f9f97a;
}

.contactForm form h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
  margin-bottom: 20px;
}
