.filterBtn {
  display: inline-flex;
  padding: 0.8rem 2.5rem;
  cursor: pointer;
  border-radius: 2rem;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
}

.active {
  background: hsl(201.43, 13.21%, 58.43%);
  color: white;
}
