.tabs {
  padding: 10rem 0;
  background-color: rgba(128, 128, 128, 0.328);
  transform: skewY(-2deg);
  margin-top: 10rem;
  display: grid;
  grid-template-columns: (1fr, 1fr, 1fr);
}

.tabs > * {
  transform: skewY(2deg);
}
